
.titulo {
  font-size: 32px;
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

.botoes-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}


.botao-estilizado {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}

.botao-estilizado:hover {
  background-color: #45a049;
  transform: scale(1.05);
}

.botao-estilizado:active {
  transform: scale(0.95);
}

.tabela-burra {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.saida-burra {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 12px;
  width: fit-content;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  font-family: 'Courier New', Courier, monospace;
  color: #333;
  text-align: left;
  white-space: pre-wrap;
  border: 1px solid #ddd;
}
